{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="form-size">
        <h3>
            כניסה
        </h3>
        <form method="POST" action="/user/login">
            <div class="form-group">
                <label class="email"> אימייל : </label>
                <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-user" id="input-user-icon"></span>
                  <input type="email"  name="email" id="email" class="form-control" placeholder="" >
                </div>
            </div>
            <div class="form-group">
                <label class="password"> סיסמה : </label>
                <div class="input-group">
                  <span class="input-group-addon  glyphicon glyphicon-lock" id="input-lock-icon"></span>
                  <input type="password" name="password" id="password" class="form-control" placeholder="" >
                </div>
            </div>

            {% if ex %}

            <div class="alert alert-danger" role="alert">
                <span>{{ ex }}</span><br>
            </div>

            {% endif %}

            <button type="submit" class="btn btn-default">התחבר/י</button>
        </>
    </div>
</div>

{% endblock %}