{% extends 'base.html' %}
{% block content %}
<div class="container" >
    <div class="form-size">
        <h3>
            הרשמה לאתר
        </h3>
        <form method="POST" action="/user/register" >
            <div class="form-group">
                <label for="email">אימייל :</span></label>
                <input type="email" class="form-control" name="email" id="email" placeholder="email">
            </div>
            <div class="form-group">
                <label for="password">סיסמה :</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="password">
            </div>
            <button type="submit" style="margin-bottom: 20px;" class="btn btn-default">הרשם כאן</button>
            {% if ex  %}
            <div class="alert alert-danger" role="alert">
                <span>{{ ex }}

                    <a href="/user/login">התחבר</a>

                </span><br>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}