{% extends 'base.html' %}
{% block content %}

<div class="container">
    <form class="form-size" method="POST">
        <h3 aria-describedby="add-description">מוצר חדש</h3>
        <span id="add-description" class="help-block"></span>
        <div class="form-group">
            <label for="name">הכנס שם מוצר</label>
            <input id="name" name="name" type="text" required="required" placeholder="הכנס את שם המוצר או הארוחה"/>
        </div>
        <div class="form-group">
            <label for="cal">קלוריות : </label>
            <input id="cal" name="cal" type="number" min="0" step="0.01" placeholder="הכנס את מספר הקלוריות"/>
        </div>
        <div class="form-group">
            <label for="pro">חלבונים : </label>
            <input id="pro" name="pro" type="number" min="0" step="0.01" placeholder="הכנס את מספר החלבונים"/>
        </div>
        <div class="form-group">
            <label for="fat">שומנים :  </label>
            <input id="fat" name="fat" type="number" min="0" step="0.01" placeholder="הכנס את מספר השומנים"/>
        </div>
        <div class="form-group">
            <label for="carbs">פחמימות : </label>
            <input id="carbs" name="carbs" type="number" min="0" step="0.01" placeholder="הכנס את מספר הפחמימות"/>
        </div>

        <button type="submit" class="btn btn-default" style="margin-bottom: 20px;">שלח/י</button>

        {% if ex %}
        <div class="alert alert-danger">
            <span> {{ ex }}</span>
        </div>
        {% endif %}
        {% if added %}
        <div class="alert alert-success">
            <span>המוצר {{ added }} נוסף בהצלחה!</span>
        </div>
        {% endif %}
    </form>


</div>

{% endblock %}