{% extends 'base.html' %}
{% block content %}

<div class="container">
    {% if diet_list %}

        {% for each_item in diet_list %}
               <div class="panel panel-default">
                   <div class="panel-heading">
                   {{ each_item.gram }} גרם {{ each_item.name }}
                   </div>
                    <div class="list-item">
                        <h5>קלוריות : {{ each_item.cal | round(2, 'floor') }}</h5>
                        <h5>חלבונים : {{  each_item.pro | round(2, 'floor') }}</h5>
                        <h5>שומנים : {{  each_item.fat | round(2, 'floor') }}</h5>
                        <h5>פחמימות : {{  each_item.carbs | round(2, 'floor') }}</h5>
                    </div>
               </div>
        {% endfor %}

    {% endif %}
</div>

{% endblock %}