body{
    direction: rtl;
}

.form-size{
    width: 290px;
    margin: 100px auto;
    background-color: #ddd;
    padding: 0 30px 30px 30px;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius:8px;
    border: 1px solid #888;
}

.form-size h3{
    margin-bottom: 20px;
    text-decoration: underline;
}
.list-actions,.list-item, .result{
    display:flex;
}
.list-actions{
    justify-content: space-between;
}
.list-actions a{
    width: 100px;
    margin-bottom: 10px;
}
.list-item, .result{
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
}

.invisible{
    display: none;
}