body{
    direction: rtl;
}

.form-size{
    width: 290px;
    margin: 100px auto;
    background-color: #eee;
    padding: 0 30px 30px 30px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 3px solid #222;
    box-shadow: 2px 0px 1px #444;
    text-align: center;
}
.form-size h3{
    padding: 18px 12px 18px 12px;
    font-size: 28px;
    text-decoration: none;
}
.form-size label {
    font-size: 16px;
    margin-bottom: 10px;
}
.list-actions, .list-item, .result{
    display:flex;
}
.list-actions{
    justify-content: space-between;
}
.list-actions a{
    width: 100px;
    margin-bottom: 10px;
}
.list-item, .result{
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
}

.invisible{
    display: none;
}